

    body{
        font-family: 'Epilogue', sans-serif;
    }
    
    body{
        background-color: rgb(162, 155, 155);
    }

    .container{
        width: 600px;
        padding: 30px;
        margin: auto;
        background-color: white;
        height: 720px;
    }

   .Name{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;   
   }

    input{
        border: 1px solid gray;
        border-radius: 4px;
         }

    .Email{
        margin-top: 10px;
        margin-bottom: 10px;
         }
    
    .Phone{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .Message{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    textarea{
        width: 100%;
        border: 1px solid grey;
        border-radius: 4px;
    }

    .Reason {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #contact-reason {width: 100%;
        height: 30px;
        border: 1px solid gray;

    }

    #Email{
        line-height: 30px;
        width: 250px;
    }

    #Phone{
        line-height: 30px;
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .Submit{
        position: absolute;
        left: 50%;
    }

    #Submit{
        width: 100px;
        cursor: pointer;
        height: 30px;
        background-color: green;
        color: white;
    }

    #Name{
        margin-right: 10px;
    }

    #Name2{
        margin-right: 10px;
    }

    #Name3{
        margin-right: 10px;
    }


